.mauritiusminimumsectionmain {
    margin: 0 0 120px 0;

    .mauritiusminimumsectiontitlemain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 0 60px 0;

        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #0B0B14;
        }
    }

    .mauritiusminimumsectioncontentmain {
        background-color: #F1F2F4;
        padding: 70px 20px;
        margin: 0 30px;
        border-radius: 34px;

        .mauritiusminimumsectioncontentflxmain {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 90px;

            .mauritiusminimumsectioncontentflxfirst {

                .mauritiusminimumsectioncontentflxfirsttitletexts {

                    h2 {
                        font-family: "Poppins", sans-serif;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 33.61px;
                        letter-spacing: -0.01em;
                        text-align: left;
                        color: #0B0B14;
                        margin: 0 0 8px 0;
                    }

                    span {
                        font-family: "DM Sans", sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 29.4px;
                        text-align: left;
                        color: #737373;
                    }
                }

                p {
                    margin: 14px 0 0 0;
                    font-family: "DM Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                    text-align: left;
                    color: #737373;

                    span {
                        font-family: "DM Sans", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 32px;
                        text-align: left;
                        color: #0F0F1A;
                    }
                }
            }

            .mauritiusminimumsectioncontentflximage {
                min-width: 640px;
                min-height: 600px;

                img {
                    min-width: 640px;
                    min-height: 600px;
                    border-radius: 24px;
                }
            }
        }
    }
}