.forexcrmbuildmain {
    margin: 0 0 120px 0;
    padding: 0 30px;

    .forexcrmbuildsectionmaindiv {
        position: relative;
        padding: 0 0 148px 0;

        .forexcrmbuild {
            background-color: #014EFF;
            border-radius: 34px;
            position: relative;
            padding: 120px 130px 88px 130px;
            overflow: hidden;

            .forexcrmbuildcontent {
                position: relative;
                z-index: 5;

                h2 {
                    font-family: "Poppins", sans-serif;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 64px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    color: #FFFFFF;
                    margin: 0 0 46px 0;
                    max-width: 650px;
                }

                button {
                    background: #FFFFFF;
                    border-radius: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    font-family: "DM Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26.46px;
                    text-align: left;
                    color: #014EFF;
                    padding: 18px 32px;
                    border: none;
                    box-sizing: border-box;
                }
            }

            .checksimagediv {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        .forexcrmflotedimage {
            position: absolute;
            bottom: 0;
            right: 130px;
        }
    }
}