.forexfaqsectionmain {
    margin: 0 0 120px 0;

    .forexfaqcontainer {
        max-width: 1212px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .forexfaqtitle {
        margin: 0 0 60px 0;

        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #0B0B14;
        }
    }

    .forexfaqaccordionmain {
        .forexfaqbox {
            margin: 0 0 30px 0;

            .forexfaqboxtoplinemain {
                display: flex;
                justify-content: space-between;
                align-items: start;
                cursor: pointer;

                h2 {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 24px;
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    text-align: left;
                    color: #0F0F1A;
                }

                .forexfaqdropiconmain {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #BFBFBF;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    &.open {
                        transform: rotate(180deg);
                    }
                }
            }

            .forexfaqboxdetailmain {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
                opacity: 0;
                padding: 0;

                &.open {
                    max-height: 1000px; // Adjust this value based on your content
                    opacity: 1;
                    padding: 20px 0;
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: left;
                    color: #737373;
                    padding: 0;
                }
            }
        }
    }
}
