.herobannermain {
    padding: 0 30px 381px 30px;
    position: relative;

    .algoherobannerbackground {
        img {
            width: 100%;
            height: 100%;
            border-radius: 34px;
        }
    }

    .algoherobannerprimage {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
    }

    .herobannercontentmain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 100px 0;

        .algoherobannercontainer {
            max-width: 1174px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .algoherobannerbuttontop {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 4px 0;

            button {
                cursor: pointer;
                border: 1px solid #b0b0ff;
                background-color: #e6e6ffcc;
                padding: 7px 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                outline: none;
                border-radius: 40px;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20.58px;
                text-align: left;
                color: #0b0b14;
                text-transform: uppercase;
            }
        }

        .algoherobannermaincontent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-family: "Poppins", sans-serif ;
                font-size: 64px;
                font-weight: 600;
                line-height: 76.81px;
                letter-spacing: -0.01em;
                text-align: center;
                color: #0b0b14;
                margin: 0 0 7px 0;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: center;
                color: #595959;
            }
        }
    }
}