.mauritiusformmain {
    margin: 0 0 120px 0;

    .mauritiusformflxmain {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;

        .mauritiusformflx1 {
            max-width: 650px;


            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 48px;
                font-weight: 600;
                line-height: 70px;
                letter-spacing: -0.01em;
                text-align: left;
                color: #0B0B14;
                margin: 0 0 16px 0;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
                color: #737373;
            }
        }

        .mauritiusformflx2 {
            padding: 40px 40px;
            background-color: #F1F2F4;
            border-radius: 34px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .mauritiusformflx2inner {
                display: flex;
                gap: 40px;
                justify-content: space-between;

                .mauritiusformflx2innerinputmain {
                    width: 100%;

                    label {
                        display: block;
                        font-family: "Poppins", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: -0.01em;
                        text-align: left;
                        color: #0B0B14;
                        margin: 0 0 14px 0;
                    }

                    input,
                    select,
                    textarea {
                        border: 1px solid #CCCCCC;
                        border-radius: 25px;
                        color: #737373;
                        padding: 14px 21px;
                        background-color: transparent;
                        width: 100%;
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 23.52px;
                        text-align: left;
                        appearance: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        resize: none;
                        height: 122px;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    button {
                        margin: 6px 0 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        padding: 18px 28px;
                        background-color: #014EFF;
                        border-radius: 40px;
                        border: 1px solid #014EFF;
                        color: #fff;
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        p {
                            font-family: "Poppins", sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 26.46px;
                        }

                        svg {
                            transition: .3s ease-in-out;

                            path {
                                transition: .3s ease-in-out;
                                fill: #fff;
                            }
                        }

                        &:hover {
                            transition: .3s ease-in-out;
                            background-color: transparent;
                            color: #014EFF;

                            svg {
                                transition: .3s ease-in-out;

                                path {
                                    transition: .3s ease-in-out;
                                    fill: #014EFF;
                                }
                            }
                        }
                    }

                    .customDropdown {
                        position: relative;
                        width: 100%;

                        .dropdownHeader {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 14px 21px;
                            background-color: transparent;
                            border: 1px solid #CCCCCC;
                            border-radius: 25px;
                            cursor: pointer;
                            font-family: "Roboto", sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 23.52px;
                            color: #737373;

                            .arrow {
                                transition: transform 0.3s ease;

                                &.down {
                                    transform: rotate(0deg);
                                }

                                &.up {
                                    transform: rotate(-180deg);
                                }
                            }
                        }

                        .dropdownList {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            right: 0;
                            background-color: #fff;
                            border: 1px solid #CCCCCC;
                            border-radius: 25px;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            z-index: 1;

                            li {
                                padding: 10px 21px;
                                cursor: pointer;
                                transition: background-color 0.3s ease;

                                &:hover {
                                    background-color: #F1F2F4;
                                }

                                &:last-child {
                                    border-radius: 0 0 25px 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}