.CommonButtonmain {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0 0 4px 0;

    button {
        cursor: pointer;
        border: 1px solid #b0b0ff;
        background-color: #e6e6ffcc;
        padding: 8px 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        outline: none;
        border-radius: 40px;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        color: #0b0b14;     
        text-transform: uppercase;

        @media (max-width:1024px) {
            font-size: 10px;
            padding: 6px 17px;
        }

        span {
            margin: auto 0;
        }

        img {
            width: 28px !important;
            height: 28px !important;

            @media (max-width:1024px) {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }
}