.forexpluggedsectionmain {
    margin: 0 0 120px 0;

    .forexpluggedsectionflxmain {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .forexpluggedsectionflxcontent1 {

            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 48px;
                font-weight: 600;
                line-height: 70px;
                letter-spacing: -0.01em;
                color: #0B0B14;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #737373;
                max-width: 650px;
            }
        }

        .forexpluggedsectionflxcontent2 {

            img {
                border-radius: 24px;
                min-width: 840px;
                min-height: 550px;
            }
        }
    }
}