.forexcrmworkmain {
    margin: 120px 0;

    .algoherobannerbuttontop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 0 60px 0;

        button {
            cursor: pointer;
            border: 1px solid #b0b0ff;
            background-color: #e6e6ffcc;
            padding: 7px 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            outline: none;
            border-radius: 40px;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 20.58px;
            text-align: left;
            color: #0b0b14;
            text-transform: uppercase;
        }

        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 48px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #0B0B14;
        }
    }

    .qualityboxmain {
        background-color: #F6F6F8;
        border-radius: 34px;
        padding: 62px 62px 61px 80px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .qualitybox {


            .qualityboxtitle {

                h1 {
                    font-family: "Poppins", sans-serif;
                    font-size: 50px;
                    font-weight: 300;
                    line-height: 60.01px;
                    text-align: left;
                    color: #CCCCCC;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 26px;
                    margin: 0 0 16px 0;

                    span {
                        font-family: "Poppins", sans-serif;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 28.8px;
                        text-align: left;
                        color: #0F0F1A;
                    }
                }

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 29.4px;
                    text-align: left;
                    color: #737373;
                    margin: 0 0 60px 0;
                }
            }


            .seamlessboxmain {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 40px;

                .seamlessdiv {

                    .seamlessicondiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 17px;
                        background: #E6EDFF;
                        border: 1px solid #B0C8FF;
                        border-radius: 50px;
                        margin: 0 0 20px 0;
                        width: fit-content;
                    }

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                        text-align: left;
                        color: #0F0F1A;
                        margin: 0 0 10px 0;
                        max-width: 420px;
                    }
                    
                    span {
                        display: block;
                        max-width: 420px;
                        font-family: "Roboto", sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 30px;
                        text-align: left;
                        color: #737373;
                    }
                }
            }
        }
    }
}