.algotradsectionmain {
    padding: 100px 0 120px 0;
    .algotradsectioncontainer {
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .algotradsectionflxmain {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: row-reverse;
      gap: 120px;
  
      .algotradimagemain {
        img {
          width: 100%;
          min-width: 640px;
          border-radius: 30px;
          object-fit: cover;
        }
      }
  
      h2 {
        font-family: "Poppins", sans-serif ;
        font-size: 48px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #0b0b14;
        margin: 0 0 16px 0;
      }
  
      p {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #737373;
      }
    }
  }
  