.forexcrmworkmain {
    margin: 0;

    .qualityboxmain {
        background-color: #F6F6F8;
        border-radius: 34px;
        padding: 62px 62px 61px 80px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;

        .qualitybox {


            .qualityboxtitle {

                h1 {
                    font-family: "Poppins", sans-serif;
                    font-size: 50px;
                    font-weight: 300;
                    line-height: 60.01px;
                    text-align: left;
                    color: #CCCCCC;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 26px;
                    margin: 0 0 16px 0;

                    span {
                        font-family: "Poppins", sans-serif;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 28.8px;
                        text-align: left;
                        color: #0F0F1A;
                    }
                }

                p {
                    font-family: "DM Sans", sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 29.4px;
                    text-align: left;
                    color: #737373;
                    margin: 0 0 60px 0;
                }
            }


            .seamlessboxmain {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 40px;

                .seamlessdiv {

                    .seamlessicondiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 17px;
                        background: #E6EDFF;
                        border: 1px solid #B0C8FF;
                        border-radius: 50px;
                        margin: 0 0 20px 0;
                        width: fit-content;
                    }

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                        text-align: left;
                        color: #0F0F1A;
                        margin: 0 0 10px 0;
                        max-width: 420px;
                    }

                    span {
                        display: block;
                        max-width: 420px;
                        font-family: "DM Sans", sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 30px;
                        text-align: left;
                        color: #737373;
                    }
                }
            }
        }
    }
}